@custom-media --mobile (max-width: 600px);
@custom-media --tablet (max-width: 768px) and (min-width: 601px);
@custom-media --bellow-desktop (max-width: 768px);
@custom-media --desktop (min-width: 769px);

:root {
  --main-color: #C74540;
  --text-color: #4c4c4c;
  --white: #fff;
  --light-grey: #e4e4e4;
  --main-font: 'Rubik', sans-serif;
  --secondary-font: 'Josefin Slab', cursive;
  --medium-font: 1.25rem; /* 20px */
  --text-font: 0.87rem; /* 14px */
  --small-font: {
    font-size: 0.68rem; /* 11px */
    line-height: 1.4;
  };
  --x-small-space: 0.5rem;
  --small-space: 1rem;
  --space: 2rem;
  --large-space: 3rem;
  --new-section-margin: 140px auto 0;
  --font-weight-light: 100;
  --red-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
